<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
</head>
<body>
    <app-nav></app-nav>
    <div class="sub-titulo">Galeria</div>
    <div class="texto">Veja os nossos trabalhos</div>
    <div class="img-gallery">
        <img src="../../../assets/img/img1.jpg">
        <img src="../../../assets/img/img2.png">
        <img src="../../../assets/img/img3.jpg">
        <img src="../../../assets/img/img4.jpg">
        <img src="../../../assets/img/img5.jpg">
        <img src="../../../assets/img/img6.jpg">
        <img src="../../../assets/img/img7.jpg">
        <img src="../../../assets/img/img8.jpg">
        <img src="../../../assets/img/img9.jpg">
        <img src="../../../assets/img/img10.jpg">
        <img src="../../../assets/img/img11.jpg">
        <img src="../../../assets/img/img12.jpg">
        <img src="../../../assets/img/img13.jpg">
        <img src="../../../assets/img/img14.jpg">
        <img src="../../../assets/img/img15.jpg">
    </div>
    <app-footer></app-footer>
</body>

</html>
