<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <app-nav-after-login-barber></app-nav-after-login-barber>
    <div class="hero">
        <div class="wrapper">
            <div class="left">
                <img id="hello" src="../../../assets/profile/6.jpg" alt="user" width="180">
                <h4>{{name}}</h4>
                <p>Barbeiro</p>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Informação</h3>
                    <div class="info_data">
                        <div class="data">
                            <h4>Nome</h4>
                            <input type="text" [(ngModel)]="editBarber.name" name="nome" class="text">
                            <button class="button2" (click)="editfunction()"><span>&#10003;</span></button>
                            <h4>Phone</h4>
                            <input type="number" [(ngModel)]="editBarber.phone" name="nif" class="text">
                        </div>
                        <h4>Foto de Perfil</h4>
                        <input type="file" id="myFile" name="filename" ng-change="alterar()">
                        <p style="text-align: center;">
                        <div>
                        <br>
                            <a class="btn" routerLink="/barber">Voltar</a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
