<div class = "fields"> 
    <div class = "field-div">
        <p>Name</p>
        <input type="text" name="name" class = "name-text text">
    </div>
    <div class = "field-div">
        <p>Phone</p>
        <input type="text" name="phone" class="nif-text text">
    </div>
    <div class = "field-div">
        <p>Email</p>
        <input type="text" name="email" class = "email-text text">
    </div>
    <div class = "field-div">
        <p>Password</p>
        <input type= "password" name="password" class="password-text text">
    </div>
</div>
