.text 
{
    border-radius: 5px;
}

.login-field-div {
    align-self: center;
    justify-self: center;
    margin-bottom: 30px;
    margin-left: 23%;
}

.login-field-div p {
    align-self: center;
    justify-self: center;
    color: #C77b09;
    font-family: sans-serif;
    margin-left: 0%;
    font-family: "Roboto";
}