<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="../css/choice.css">
</head>
<body>

    <header class = "title-header">
        <h1>HankStudio</h1>
    </header>
    
    

    <div class = "center-input-box">
    
        <div class ="input-box">

            <div class = "line-div"></div> 

            <div class = "user-options">
                <button class = "user-option-employee --user-option">I'm an employee</button>
                <button class = "user-option-customer --user-option">I'm a customer</button>
            </div>
        
            <button class="exit-button">Exit</button>
        </div>
    </div>
    
</body>
</html>