<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>

    <header class = "title-header">
        <h1>HankStudio</h1>
    </header>
    
<form action="/login" method="post">
    <div class = "center-input-box">
    
        <div class ="input-box login-input-box">

            <div class = "line-div"></div> 
            
            <div class = "fields login-fields">
                <div class = "field-div login-field-div">
                    <p>E-mail</p>
                    <input type="text" name="email"  class = "nif-text text">
                    
                </div>
                <div class = "field-div login-field-div">
                    <p>Password</p>
                    <input type="pass" name="pass" class = "nif-text text">
                    
                </div>
            </div>
            
            <a class= "anchor-generic" href="#">Register me</a>
        
            <button class = "exit-button">Login</button>
        </div>
    </div>
</form>
    
</body>
</html>