<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="../css/signup.css">
</head>
<body>

    <header class = "title-header">
        <h1>HankStudio</h1>
    </header>
    
    
<form action="/tatooartist/signup" method="post">
    <div class = "center-input-box">
    
    <div class ="input-box">

        <div class = "line-div">
            
        </div> 
        
        <div class = "fields">

        
        <div class = "field-div">
            <p>Name</p>
            <input type="text" name="name" class = "nif-text text">
        </div>

        <div class = "field-div">
        <p>Phone</p>
        
        <input type="text" name="phone" class="name-text text">
        </div>

        <div class = "field-div">
        <p>Email</p>

        <input type="text" name="email" class = "email-text text">
        </div>


        <div class = "field-div">
        <p>Password</p>
        <input type= "pass" name="pass" class="password-text text">
        </div>
    </div>
        <button>Register</button>
    </div>
    </div>
</form>
    
</body>
</html>