<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <app-nav></app-nav>
    <div class = "center-input-box">
        <div class ="input-box login-input-box">
            <div class = "line-div"></div> 
            <div *ngIf="error"><p style="color: #c77b09;margin-left: 100px;font-family:'Roboto';">Usuário não encontrado</p></div>
            <div class = "fields login-fields">
                <div class = "field-div login-field-div">
                    <p>Name</p>
                    <input type="email" [(ngModel)]="loginCustomer.name"  name="name" class = "nif-text text">
                    
                </div>
                <div class = "field-div login-field-div">
                    <p>NIF</p>
                    <input type="password" [(ngModel)]="loginCustomer.nif"  name="nif" class = "nif-text text">
                    
                </div>
            </div>
            <a class= "anchor-generic" href="http://localhost:4200/signupCustomer">Register me</a>
            <button class = "exit-button" (click)="loginfunction()">LogIn</button>
        </div>
    </div>
</body>
</html>
