<div class = "fields"> 
    <div class = "field-div">
        <p>Name</p>
        <input type="text" name="Name" class = "name-text text">
    </div>
    <div class = "field-div">
        <p>NIF</p>
        <input type="text" name="NIF" class="nif-text text">
    </div>
    <div class = "field-div">
        <p>Email</p>
        <input type="text" name="Email" class = "email-text text">
    </div>
    <div class = "field-div">
        <p>Password</p>
        <input type= "password" name="Password" class="password-text text">
    </div>
</div>
