<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table price</title>
</head>
<body>
    <app-nav></app-nav>
    <div class = "titulo">Tabela de Preços</div>
  <div class = "subtitulo">Escolha o serviço que mais gosta e nós tratamos do resto</div>

  <div class="columns">
    <ul class="price">
      <strong><li class="header">Barbearia</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Cabelo..............................15€</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Barba...............................10€</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Patilhas.............................8€</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Corte shaver.......................8€</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Barba + Cabelo................20€</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Cabelo de Criança............11€</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Pintura de cabelo.............30€</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Rastas...............................18€</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Sobrancelhas......................5€</li></strong>
    </ul>
  </div>

  <div class="columns">
    <ul class="price">
      <strong><li class="header" style="background-color:#04AA6D">Tattoo Shop</li></strong>
      <strong><li style="background-color:#227557">Nomes (Pequeno)................15€*</li></strong>
      <strong><li style="background-color:#227557">Nomes (Grande)..................30€*</li></strong>
      <strong><li style="background-color:#227557">Meio Braço (Preto)..............100€*</li></strong>
      <strong><li style="background-color:#227557">Meio Braço (Cores)..............150€*</li></strong>
      <strong><li style="background-color:#227557">Braço Cheio (Preto).............200€*</li></strong>
      <strong><li style="background-color:#227557">Braço Cheio (Cores)............275€*</li></strong>
      <strong><li style="background-color:#227557">Mão (Preto).............................45€*</li></strong>
      <strong><li style="background-color:#227557">Mão (Cores)............................45€*</li></strong>
      <strong><li style="background-color:#227557">Menos de 15cm.........................10*</li></strong>
    </ul>
  </div>

  <div class="columns">
    <ul class="price">
      <strong><li class="header">Tattoo Shop</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Peito (Preto)........................80€*</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Peito (Cores).....................120€*</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Meia Perna (Preto)...............70€*</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Meia Perna (Cores)............130€*</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Perna Completa (Preto).....120€*</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Perna Completa (Cores).....180€*</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Dorsal Completa (Preto).....400€*</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Dorsal Completa (Cores).....600€*</li></strong>
      <strong><li style="background-color: rgb(168, 104, 44)">Retoques......................20€ - 200€*</li></strong>
    </ul>
  </div>

  <div class = "note">*Preços são apenas estimativas, para um preço certo final, dirija-se á aba de contactos e contacte diretamente o tatuador com todos os detalhes</div>

</body>
</html>
