<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TattooArtist</title>
</head>
<body>
    <app-nav-after-login-vip></app-nav-after-login-vip>
    <div class="top">
        <div class="wrapper">
            <div class="left">
                <img src="{{img}}" alt="user" width="180" id="image">
                <h4 id="nome"> {{name}}</h4>
                 <p>Cliente VIP</p>
            </div>
            <div class="right">
                <div class="info">
                    <h3>Informação</h3>
                    <div class="info_data">
                         <div class="data">
                            <h4>Email</h4>
                            <p id="email">{{email}}</p>
                         <br>
                           <h4>Nome</h4>
                            <p id="nome1">{{name}}</p>
                        <br>
                          <h4>NIF</h4>
                           <p id="nif">{{nif}}</p>
                        </div>
                    </div>
                </div>
                <p style="text-align: center;">
                    <a class="btn" routerLink="/editvipcustomer">Editar</a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
